footer{
    background-color: grey;
    text-align: right;

}
 
body p{
margin-top: 200px ;
text-decoration: wavy;
font-size: 24px;

}

h1{
    text-align: center;
    background-color: darkred;
    font-size: 55px;
    margin-top: 150px;
}

h2{
    text-align: left;
    font-size: 33px;
    margin-top: 25px;
}

